language: python
python:
  - 2.7
  - 3.3
  - 3.4
install:
  - pip install coveralls
before_script:
  - make env
  - make depends
script:
  - make ci
after_success:
  - coveralls
notifications:
  email:
    on_success: never
    on_failure: change
